{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Aupa Bilbao!{% endblock %}

{% block headline %}Aupa Bilbao!{% endblock headline %}

{% block footer %}
    <p>Footer sexy 2015 - <a href="javascript:void(0)" data-toggle="modal" data-target="#contactModal">Contact</a></p>
{% endblock footer %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { 'fixedTop': true } %}
        {% block brand %}
            <a class="navbar-brand" href="#">Aupa</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('AppBundle:Builder:mainMenu', { 'automenu': 'navbar', 'currentClass': '' }) }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block head_style %}
    {% if app.debug %}
    <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
    {% else %}
    <link href="{{ asset('css/app.min.css') }}" type="text/css" rel="stylesheet" />
    {% endif %}
{% endblock head_style %}

{% block foot_script %}
    {% javascripts filter='?uglifyjs2' output='js/compressed/app.min.js'
        'js/jquery.js'
        'bundles/mopabootstrap/js/modernizr-2.7.1-respond-1.4.2.min.js'
        'bundles/mopabootstrap/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js'
        'bundles/mopabootstrap/bootstrap-sass/assets/javascripts/bootstrap/popover.js'
        'bundles/mopabootstrap/bootstrap-sass/assets/javascripts/bootstrap/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}

{% block body_end %}
    {{ render(controller('AppBundle:Contact:contact')) }}
{% endblock body_end %}
